<nav class="mainnav desktop">
  <div class="clearfix">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="tab">
      Introductie
    </a>
    <a routerLink="/steden" routerLinkActive="active" class="tab">
      Steden
    </a>
  </div>
  <div class="bar">
  </div>
</nav>
<nav class="mainnav mobile">
  <ul class="nav nav-pills nav-stacked">
    <li routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      [ngStyle]="{display:isActive('/') ? 'block' : 'none'}">
      <a routerLink="" (click)="toggleActive($event)">
        Introductie
      </a>
    </li>
    <li routerLinkActive="active"
      [ngStyle]="{display:isActive('/steden') ? 'block' : 'none'}">
      <a routerLink="/steden" (click)="toggleActive($event)">
        Steden
      </a>
    </li>
  </ul>
  <div class="bar">
  </div>
</nav>