<nav class="mainnav desktop" *ngIf="tabs">
  <div class="clearfix">
    <a *ngIf="tabs.info" 
      routerLink="./" 
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active" 
      class="tab">
      Info
    </a>
    <a *ngIf="tabs.location" routerLink="ligging" routerLinkActive="active" class="tab">
      Ligging
    </a>
    <a *ngIf="tabs.photos" routerLink="fotos" routerLinkActive="active" class="tab">
      Foto's
    </a>
  </div>
  <div class="bar">
  </div>
</nav>

<nav class="mainnav mobile" *ngIf="tabs">
  <ul class="nav nav-pills">
    <li routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="./">
        <span class="fa fa-info-circle"></span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="ligging">
        <span class="fa fa-map-marker"></span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="fotos">
        <span class="fa fa-picture-o"></span>
      </a>
    </li>
  </ul>
  <div class="bar">
  </div>
</nav>