.mainnav {
  margin:4px 0;
  font-size: 20px;
}
.mobile {
  display: none;
}
.desktop .tab {
  width: 122px;
  height: 29px;
  display: block;
  float: left;
  color: white;
  text-align: center;
  background: #06799f; /* Old browsers */
  background: -moz-linear-gradient(top,  #06799f 0%, #035a78 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #06799f 0%,#035a78 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #06799f 0%,#035a78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06799f', endColorstr='#035a78',GradientType=0 ); /* IE6-9 */
  border-radius: 4px;
  margin:0 1px;
}
.tab:hover, .tab:active, .tab:link, .tab:visited {
  text-decoration:none;
}
.desktop .active {
  border-bottom:1px solid #b9e58b;
  background: url(/assets/img/layout/tab.png) no-repeat;
  background-position: 1px 0;
  color: #06799f;
  height: 32px;
}
.bar {
  margin-top: 0px;
}
@media screen and (max-width:768px) {
  .mobile {display: block;}
  .desktop {display: none;}
  .bar {margin-top:4px;}
}