:host /deep/ .carousel-caption {
  right: 0;
  left: 0;
  font-size: 18px;
  background-color: #222;
  opacity:0.7;
  padding: 6px 0 0;
  bottom: 0;
}
:host /deep/ .carousel-caption p {
  margin: 0 0 30px;
  cursor: pointer;
}
:host /deep/ .carousel-indicators {
  bottom: 0;
}
.main {
}
.carousel {
  border: 1px solid #538f18;
  border-radius: 2px;
  float:left;
  margin-bottom: 4px;
  margin-right: 4px;
  width: 547px;
}
.factbar {
  float:left;
  height: 400px;
  width: 389px;
}
.header {
  background-color: #b9e58b;
  border: 1px solid #538f18;
  border-bottom: 0;
  color: #333;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}
.box {
  border: 1px solid #538f18;
  margin-bottom: 4px;
  padding: 2px;
}
.map {
  text-align: center;
}
.map.box {
  height: 224px;
}
.subheader {
  color: #555;
  font-weight: bold;
  padding: 2px 0 1px 4px;
}
.subdata{
  margin-left: 16px;
}
.facts{
  height: 118px;
  overflow: hidden;
}
.subbox {
  float: left;
  height: 100%;
  padding-right: 3px;
  margin-right: 4px;
}
.subbox.left {
  border-right: 1px dotted #538f18;
  width: 190px;
}
.subdata > img {
  border: 1px solid #ccc;
  width: 60px;
  height: 40px;
}
.itemThumbs {
  margin: 4px 0;
}
.itemThumb img {
  height: 80px;
  width: 80px;
}
.itemThumb {
  border: 1px solid #538f18;
  border-radius: 2px;
  float: left;
  height: 82px;
  margin: 0 3px 4px 3px;
  width: 82px;
}
.itemThumb:first-child {
  margin-left: 0;
  margin-right: 4px;
}
.itemThumb:last-child {
  margin-left: 3px;
  margin-right: 0;
}
.adbar {
  background-color: red;
  float:right;
  width: 160px;
  height: 400px;
  margin-bottom: 4px;
}

/*  768px / 992px / 1200px */
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .adbar {display: none;}
  .itemThumb.wide1200 {display: none;}
  .itemThumb {margin-left:1px;margin-right:1px;}
  .itemThumb.odd {margin-left:2px;margin-right:2px;}
  .itemThumb:nth-child(5) {margin-right:2px;}
  .itemThumb:nth-child(7) {margin-left:2px;}
  .itemThumb:nth-child(11) {margin-left: 2px;margin-right:0;} /*last*/
}
@media screen and (max-width: 991px) {
  .factbar, .itemThumb.wide992 {display: none;}
  .itemThumb {margin-left:5px;margin-right:4px;}
  .itemThumb:nth-child(8) {margin-right:0;} /*last*/
}
@media screen and (max-width: 768px) {
  .adbar {display: none;}
  .itemThumb {margin-left:1px;margin-right:1px;}
  .itemThumb:first-child {margin-right: 1px;}
  .carousel {width: 100%;}
  .carousel-item img {width: 100%;}
  .itemThumbs {width: 670px;margin:0 auto;}
}
@media screen and (max-width: 718px) {
  .itemThumb:nth-child(8) {display:none;}
  .itemThumbs {width: 588px}
}
@media screen and (max-width: 634px) {
  .itemThumb.wide992, .itemThumb.wide1200 {display: block;}
  .itemThumb:nth-child(8) {display:block;}
  .itemThumb:nth-child(13) {display:none;}
  .itemThumbs {width: 504px}
}
@media screen and (max-width: 550px) {
  .itemThumb:nth-child(11) {display:none;}
  .itemThumb:nth-child(12) {display:none;}
  .itemThumbs {width: 420px}
}
@media screen and (max-width: 466px) {
  .itemThumb:nth-child(9) {display:none;}
  .itemThumb:nth-child(10) {display:none;}
  .itemThumbs {width: 336px}
}
@media screen and (max-width: 382px) {
  .itemThumb:nth-child(7) {display:none;}
  .itemThumb:nth-child(8) {display:none;}
  .itemThumbs {width: 260px}
}

