h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}
.localname {
  color: #666;
  font-size: 13px;
  height: 12px;
  position: relative;
  text-align: center;
  top: -3px;
}
.intro {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 6px 14px 6px;
  text-align: justify;
}
.article-list {
  width: 240px;
  float: left;
  color: white;
  margin-right: 6px;
}
.article-list li {
  cursor: pointer;
  font-size: 16px;
  background-color: #05698b;
  border: 1px solid #05698b;
  border-radius: 2px;
  margin-bottom: 1px;
  padding: 3px 1px 3px 5px;
  background: -moz-linear-gradient(top,  #05698b 0%, #035a78 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #05698b 0%,#035a78 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #05698b 0%,#035a78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06799f', endColorstr='#035a78',GradientType=0 ); /* IE6-9 */
}
.article-list li.selected {
  background: #b9e58b;
  border: 1px solid #538f18;
  color: #024e68;
}
.article {
  float: left;
  width: 894px;
}

/* 480, 768, 992, 1200 */
@media screen and (max-width:1200px) {
  .article {width: 694px;}
}
@media screen and (max-width:992px) {
  .article-list {display: none;}
}
