<div class="map">
  <div class="names" *ngIf="showItems">
    <ul class="list-unstyled">
      <li *ngFor="let marker of markers; let i=index" (click)="onClick(i)">
        <img src="{{marker.icon + '_mini.png'}}" class="mini-icon">{{marker.infoTxt}}
      </li>
    </ul>
  </div>
  <sebm-google-map 
    [longitude]="map.lon"
    [latitude]="map.lat"
    [zoom]="map.zoom"
    [ngClass]="{mapitems:showItems}">
    <km-map-markers 
      *ngIf="markers"
      [markers]="markers">
    </km-map-markers>
  </sebm-google-map>
</div>